.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#wrapper {
  position: relative;
}
#divTable {
  float: left;
}
#searchButton {
  padding-top: 15px;
  float: left;
}
#button {
  height: 35px;
}
#addUserButton {
  float: right;
  padding-top: 15px;
}
#searchByDropdown {
  float: left;
  padding-top: 15px;
  padding-left: 100px;
}
#dropDown {
  height: 35px;
}
#searchBar {
  float: left;
  padding-top: 15px;
  height: 30px;
}
#bar {
  height: 35px;
  width: 300px;
}
#second {
  overflow: hidden; /* if you don't want #second to wrap below #first */
}
